
@model REMGuide.Models.ViewModels.HomePageViewModel
@using REMGuide.Models;
@using  Microsoft.AspNetCore.Identity
@inject  SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Home Page";
}

@if(SignInManager.IsSignedIn(User))
{
    <div class="text-center">
        <img src="~/img/sleep.png" width="200px" />
        <h2 class="display-4">Good Morning!</h2>
        <button type="button" asp-action="Create" asp-controller="Entries" class="btn" style="color: magenta">What did you dream about?</button>
    </div>

<div class="topThemes" style="max-width: 25rem;">
     <h3>Looks like recently you've been dreaming about...</h3>
    <ul class="list-group">
        @foreach (var item in Model.TopThemes)
        {
        <li class="list-group-item list-group-item-action active">
            @Html.DisplayFor(modelItem => item.Name)
        </li>
        }
        </ul>
</div>
}
else
{
    <p>NO USER!</p>
}

