
@model REMGuide.Models.ViewModels.HomePageViewModel
@using REMGuide.Models;
@using  Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Home Page";
}
<style>
.topThemes:hover {cursor:pointer}
</style>
<div class="text-center">
    <img src="~/img/sleep.png" width="200px" style="padding-top: 13px" />
</div>

@if (SignInManager.IsSignedIn(User))
{
<div class="text-center">
    <h2 class="display-4">Sleep stats</h2>
    <h5 style="color: magenta">Dreaming is like overnight therapy. Find out what your sleep is saying about you.</h5>
</div>
    <div style="display: flex; justify-content: space-around; padding-top: 3em;">
        <div class="topThemes" style="max-width: 25rem;">
            <h3>Looks like you're most common dream themes are:</h3>
            <ul class="list-group">
            <p style="color: magenta"><em>Click a theme to read some common interpretations</em></p>

                @foreach (var item in Model.TopThemes)
                {
                    <li class="list-group-item" style="border: none">
                        <p class="topThemes" style="color: #399cbd; font-size: 30px;"><a data-toggle="popover" data-content="@Html.DisplayFor(modelItem => item.Description)">@Html.DisplayFor(modelItem => item.Name)</a></p>
                    </li>
                }
            </ul>

        </div>
        <div class="avgDisruptions" style="max-width: 25rem;">
            <h3>This month you've had an average of</h3>
            <div style="min-width: 15rem; padding: 3.5em">
                <a asp-action="Create" asp-controller="SleepCycles" style="text-decoration: none">
                    <h2 class="text-center" style="color: #399cbd; font-size:90px;">@Model.AvgDisruptions</h2>
                </a>
            </div>
            <h3>sleep disruptions per night.</h3>
        </div>
    </div>
    <div class="text-center" style="margin-top: 3em">
        <a type="submit" asp-action="Create" asp-controller="Entries" class="btn btn-primary">Any dreams last night?</a>
    </div>
}
else
{
    <p>No user!</p>
    <a asp-action="Account/Register" style="display: flex; text-decoration: none; font-weight: bold; color: magenta"><h2 class="text-center" style="color: #399cbd">Create an account to start recording your dreams!</h2><i class="fas fa-arrow-right" style="color: magenta; padding-left: 1em; font-size: 30px;"></i></a>
}




