@model REMGuide.Models.ViewModels.CreateEntryViewModel

@{
    ViewData["Title"] = "Create";
}
    <h1 style="color: #399cbd; margin-top: 1em">NEW DREAM ALERT.</h1>
    @using (Html.BeginForm())
    {
<div>
    <div class="form-group">
        <label class="col-form-label" for="inputDefault">Let's name it!</label>
        <input type="text" class="form-control" asp-for="Entry.Title" id="inputDefault">
    </div>
    <div>
        <div class="form-group">
            <label for="exampleTextarea">What happened?</label>
            <textarea class="form-control" id="exampleTextarea" asp-for="Entry.Description" rows="3"></textarea>
        </div>
    </div>
    <div>
        <label for="exampleTextarea">Select one or multiple themes that were present in your dream.</label><br />
        <div style="display: compact">

            @Html.EditorFor(x => x.Themes)
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</div>
    }


    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
